---
title: Delivery
headerMod: header_small
breadcrumbs: [
	'Главная',
	'Доставка'
]
activeBC: 1
profile: true
---
{% extends "layouts/_layout.html" %}

{% block content %}
{% include "partials/_header.html" %}

<div class="page">
	<div class="page__inner">
		{% include "partials/_breadcrumbs.html" %}
		{% set methods = [
			{
				title: 'Способы доставки',
				items: [
					{
						title: 'Доставка курьерской службой',
						sidebar: {
							title: 'Возможные способы оплаты:',
							list: [
								'Наличный расчет',
								'Оплата платежной картой при получении заказа',
								'Онлайн-оплата платежной картой VISA и MasterCard',
								'Безналичный расчет',
								'Оплата в платежной системе «Яндекс.Деньги»'
							]
						},
						text: [
							[
								'Наш курьер доставит заказ по указанному адресу с 9:00 до 23:00 в выбранный вами интервал времени (из предложенных при оформлении заказа). Курьер дополнительно свяжется с вами перед выездом (ориентировочно за 1 час). По указанному адресу курьер будет ждать 15 минут, после чего мы оставляем за собой право перенести доставку на другое время, согласовав его с вами.',
								'Обратите внимание, что курьер передает товар для проверки только после оплаты.'
							],
							[
								'Доставка в выбранном городе:',
								'При оплате картой курьер интернет-магазина приедет с товаром и переносным терминалом, с помощью которого можно будет осуществить оплату. Внимание! Только в пределах МКАД.',
								'Доставка за пределы МКАД осуществляется на следующий день после оформления заказа.',
								'Стоимость доставки 200 руб. при сумме заказа менее 2000 руб.',
								'При сумме заказа более 2000 руб. доставка осуществляется бесплатно.'
							],
							[
								'Города РФ, кроме Москвы:',
								'Стоимость доставки при сумме заказа до 2000 рублей составляет 200 рублей.',
								'При сумме заказа более 2000 рублей доставка осуществляется бесплатно.',
								'Доставка за пределы КАД города Санкт-Петербург осуществляется на следующий день и составляет 200 рублей.'
							]
						]
					},
					{
						title: 'Срочная доставка',
						sidebar: {
							title: 'Возможные способы оплаты:',
							list: [
								'Наличный расчет',
								'Оплата платежной картой при получении заказа',
								'Онлайн-оплата платежной картой VISA и MasterCard',
								'Безналичный расчет',
								'Оплата в платежной системе «Яндекс.Деньги»'
							]
						},
						text: [
							[
								'Наш курьер доставит заказ по указанному адресу с 9:00 до 23:00 в выбранный вами интервал времени (из предложенных при оформлении заказа). Курьер дополнительно свяжется с вами перед выездом (ориентировочно за 1 час). По указанному адресу курьер будет ждать 15 минут, после чего мы оставляем за собой право перенести доставку на другое время, согласовав его с вами.',
								'Обратите внимание, что курьер передает товар для проверки только после оплаты.'
							],
							[
								'Доставка в выбранном городе:',
								'При оплате картой курьер интернет-магазина приедет с товаром и переносным терминалом, с помощью которого можно будет осуществить оплату. Внимание! Только в пределах МКАД.',
								'Доставка за пределы МКАД осуществляется на следующий день после оформления заказа.',
								'Стоимость доставки 200 руб. при сумме заказа менее 2000 руб.',
								'При сумме заказа более 2000 руб. доставка осуществляется бесплатно.'
							],
							[
								'Города РФ, кроме Москвы:',
								'Стоимость доставки при сумме заказа до 2000 рублей составляет 200 рублей.',
								'При сумме заказа более 2000 рублей доставка осуществляется бесплатно.',
								'Доставка за пределы КАД города Санкт-Петербург осуществляется на следующий день и составляет 200 рублей.'
							]
						]
					},
					{
						title: 'Самовывоз из офиса интернет-магазина',
						sidebar: {
							title: 'Возможные способы оплаты:',
							list: [
								'Наличный расчет',
								'Оплата платежной картой при получении заказа',
								'Онлайн-оплата платежной картой VISA и MasterCard',
								'Безналичный расчет',
								'Оплата в платежной системе «Яндекс.Деньги»'
							]
						},
						text: [
							[
								'Наш курьер доставит заказ по указанному адресу с 9:00 до 23:00 в выбранный вами интервал времени (из предложенных при оформлении заказа). Курьер дополнительно свяжется с вами перед выездом (ориентировочно за 1 час). По указанному адресу курьер будет ждать 15 минут, после чего мы оставляем за собой право перенести доставку на другое время, согласовав его с вами.',
								'Обратите внимание, что курьер передает товар для проверки только после оплаты.'
							],
							[
								'Доставка в выбранном городе:',
								'При оплате картой курьер интернет-магазина приедет с товаром и переносным терминалом, с помощью которого можно будет осуществить оплату. Внимание! Только в пределах МКАД.',
								'Доставка за пределы МКАД осуществляется на следующий день после оформления заказа.',
								'Стоимость доставки 200 руб. при сумме заказа менее 2000 руб.',
								'При сумме заказа более 2000 руб. доставка осуществляется бесплатно.'
							],
							[
								'Города РФ, кроме Москвы:',
								'Стоимость доставки при сумме заказа до 2000 рублей составляет 200 рублей.',
								'При сумме заказа более 2000 рублей доставка осуществляется бесплатно.',
								'Доставка за пределы КАД города Санкт-Петербург осуществляется на следующий день и составляет 200 рублей.'
							]
						]
					}
				]
			}
		] %}

		<div class="methods">
			<div class="methods__heading">
				<div class="title">Способы доставки</div>
			</div>
			<hr class="methods__line">
			{% for method in methods %}
			<div class="methods__section">
				{% for item in method.items %}
				<div class="methods__item">
					<div class="methods__head js-list-btn">
						<div class="methods__subtitle">{{item.title}}</div>
						<i class="methods__plus"></i>
					</div>
					<div class="methods__block js-list">
						<div class="methods__info">
							{% for text in item.text %}
							<div class="methods__text">
								{% for paragraph in text %}
								<p>{{paragraph | safe}}</p>
								{% endfor %}
							</div>
							{% endfor %}
						</div>
						<div class="methods__sidebar">
							<div class="methods__subtitle">{{item.sidebar.title}}</div>
							<ul class="methods__list">
								{% for li in item.sidebar.list %}
								<li>{{li}}</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			{% endfor %}
		</div>
	</div>
	{% include "partials/_subscribe-lg.html" %}
</div>

{% include "partials/_footer.html" %}
{% endblock %}
