---
title: Suppliers/Producers
headerMod: 'header_landing'
headerBG: 'img/landing/Landing_BG_suppliers_manufacturers_1.jpg'
---
{% extends "layouts/_layout.html" %}

{% block content %}
{% include "partials/_header-empty.html" %}

<!-- begin landing  -->
<div class="landing">
	<div class="landing__inner">
		<div class="landing-about">
			<!-- begin top info  -->
			<div class="landing-about__info">
				<div class="landing-title">Кто <br>мы</div>
				<div class="landing-text">
					<p>Несмотря на то, что мы уже не первый год успешно работаем на мебельном рынке, мы стараемся постоянно улучшаться и совершенствоваться, ведь предела совершенству нет.</p>
				</div>
			</div>
			<!-- end top info -->

			<!-- begin small and medium images  -->
			<div class="landing-about__images">
				<!-- begin medium  -->
				<div class="landing-about__figure landing-about__figure_md">
					<div class="landing-about__img" style="background-image: url(img/landing/landing-about-md.jpg);"></div>
				</div>
				<!-- end medium -->

				<!-- begin small  -->
				<div class="landing-about__figure landing-about__figure_sm">
					<div class="landing-about__img" style="background-image: url(img/landing/landing-about-sm.jpg);"></div>
				</div>
				<!-- end small -->
			</div>
			<!-- end small and medium images -->
			<div class="landing-about__body">
				<!-- begin info  -->
				<div class="landing-about__content">
					<div class="landing-about__number">01</div>
					<div class="landing-about__subheading">
						<div class="landing-about__subheading-in">Мы всегда <br>рады сотрудничеству</div>
					</div>
					<div class="landing-about__text landing-text">
						<p>Эти слова мы прекрасно понимаем. По этой причине, мы всегда рады сотрудничеству с новыми поставщиками и производителями.</p>
						<p>Ведь технологии и дизайн не стоят на месте, как и развитие производства мебели.</p>
					</div>
				</div>
				<!-- end info -->

				<!-- begin large image  -->
				<div class="landing-about__picture">
					<div class="landing-about__figure landing-about__figure_lg">
						<div class="landing-about__img" style="background-image: url(img/landing/landing-about-lg.jpg);"></div>
					</div>
				</div>
				<!-- end large image -->
			</div>
		</div>
	</div>
	<!-- begin what do we offer  -->
	<div class="landing-offers">
		<div class="landing__inner">
			<!-- begin title  -->
			<div class="landing-offers__title landing-title">Что <br>предлагаем</div>
			<!-- end title -->

			<div class="landing-offers__body">
				<!-- begin image  -->
				<div class="landing-offers__figure">
					<div class="landing-offers__img">
						<img src="img/landing/offers.jpg" alt="">
					</div>
				</div>
				<!-- end image -->

				<!-- begin info  -->
				<div class="landing-offers__text landing-text">
					<p>Если вы является производителем или импортером, мебели или аксесуаров, то вы можете рассчитывать на плодотворное сотрудничество с нами.</p>
					<div class="landing-offers__number">02</div>
				</div>
				<!-- end info -->
			</div>
		</div>
	</div>
	<!-- end what do we offer -->

	<!-- begin for the beginning  -->
	<div class="landing-start">
		<div class="landing-start__bg" style="background-image: url(img/landing/Landing_BG_suppliers_manufacturers_2.jpg);"></div>
		<div class="landing__inner">
			<!-- begin info + image  -->
			<div class="landing-start__left">
				<!-- begin info  -->
				<div class="landing-start__info">
					<div class="landing-start__title">Для <br>начала</div>
					<div class="landing-start__text landing-text">
						<p>Вам достаточно будет связаться с нами любым удобным для вас способом:</p>
						<ul>
							<li>Позвонив по телефону</li>
							<li>Отправить email</li>
							<li>Обратиться к нашему менеджеру</li>
						</ul>
					</div>
				</div>
				<!-- end info -->

				<!-- begin image  -->
				<div class="landing-start__figure">
					<div class="landing-start__img">
						<img src="img/landing/landing-start-manufacturers.png" alt="">
					</div>
				</div>
				<!-- end image -->
			</div>
			<!-- end info + image -->

			<!-- begin form  -->
			<div class="landing-start__right">
				<div class="landing-form">
					<div class="landing-form__inner">
						<div class="landing-form__title">Станьте нашим партнером прямо сейчас!</div>
						<div class="landing-form__field">
							<input type="text" class="input input_big" placeholder="Ваше имя / Название организации">
						</div>
						<div class="landing-form__field">
							<input type="text" class="input input_big" placeholder="Номер телефона">
						</div>
						<div class="landing-form__field">
							<input type="email" class="input input_big" placeholder="Email">
						</div>
						<div class="landing-form__field">
							<textarea class="textarea textarea_big" placeholder="Комментарий"></textarea>
						</div>
						<div class="landing-form__btn">
							<button class="btn" disabled>
								<span>Оставить заявку</span>
							</button>
						</div>
					</div>
				</div>
			</div>
			<!-- end form -->
		</div>
	</div>
	<!-- end for the beginning -->

	<!-- begin what we get  -->
	<div class="landing-get">
		<div class="landing__inner">
			<!-- begin image  -->
			<div class="landing-get__image">
				<div class="landing-get__figure">
					<div class="landing-get__img" style="background-image: url(img/landing/landing-get-img.jpg);"></div>
				</div>
			</div>
			<!-- end image -->

			<!-- begin info  -->
			<div class="landing-get__info">
				<div class="landing-get__title landing-title">Что <br>получаем</div>
				<div class="landing-get__box">
					<div class="landing-text">
						<p>Мы обсудим с вами все детали сотрудничества, чтобы оно было тесным, качественным и взаимовыгодным.</p>
						<p>Вы можете быть уверены, что разговор о сотрудничестве будет конструктивным и деловым.</p>
						<p>Благодаря этому мы с вами сможем прийти к тем условиям, которые будут устраивать всех.</p>
					</div>
				</div>
			</div>
			<!-- end info -->

			<!-- begin number  -->
			<div class="landing-get__number">03</div>
			<!-- end number -->
		</div>
	</div>
	<!-- end what we get -->

	<!-- begin work in pleasure  -->
	<div class="landing-work">
		<div class="landing__inner">
			<!-- begin title  -->
			<div class="landing-work__title">
				<div class="landing-work__subheading">
					<div class="landing-work__subheading-in">Работаем <br>в удовольствие</div>
				</div>
			</div>
			<!-- end title -->

			<!-- begin info  -->
			<div class="landing-work__info">
				<div class="landing-text">
					<p>Более того, мы индивидуально, с учетом разнообразных аспектов, разработаем порядок работы, чтобы поставки и продажи осуществлялись быстро и четко.</p>
					<p>Благодаря сотрудничеству с нашим интернет-магазином, ваш бизнес обязательно будет улучшаться, развиваться и процветать.</p>
				</div>
			</div>
			<!-- end info -->

			<!-- begin image  -->
			<div class="landing-work__figure">
				<div class="landing-work__img" style="background-image: url(img/landing/landing-work.jpg);"></div>
			</div>
			<!-- end image -->
		</div>
	</div>
	<!-- end work in pleasure -->

	<!-- begin last step  -->
	<div class="landing-step">
		<div class="landing-step__bg" style="background-image: url(img/landing/landing-step-bg1.jpg);">
			<div class="landing__inner landing-step__inner">
				<!-- begin image  -->
				<div class="landing-step__img">
					<img src="img/landing/landing-step-manufacturers.png" alt="">
				</div>
				<!-- end image -->
			</div>
		</div>
		<div class="landing__inner">
			<div class="landing-step__right">

				<!-- begin info  -->
				<div class="landing-step__info">
					<div class="landing-step__title">Остался <br>последний шаг</div>
					<div class="landing-step__text landing-text">
						<p>Для заявки свяжитесь с нами любым удобным для вас способом:</p>
						<ul>
							<li>Позвонив по телефону</li>
							<li>Отправить email</li>
							<li>Обратиться к нашему менеджеру</li>
						</ul>
					</div>
				</div>
				<!-- end info -->
			</div>
			<div class="landing-step__left">
				<!-- begin form  -->
				<div class="landing-form">
					<div class="landing-form__inner">
						<div class="landing-form__title">Станьте нашим партнером прямо сейчас!</div>
						<div class="landing-form__field">
							<input type="text" class="input input_big" placeholder="Ваше имя / Название организации">
						</div>
						<div class="landing-form__field">
							<input type="text" class="input input_big" placeholder="Номер телефона">
						</div>
						<div class="landing-form__field">
							<input type="email" class="input input_big" placeholder="Email">
						</div>
						<div class="landing-form__field">
							<textarea class="textarea textarea_big" placeholder="Комментарий"></textarea>
						</div>
						<div class="landing-form__btn">
							<button class="btn" disabled>
								<span>Оставить заявку</span>
							</button>
						</div>
					</div>
				</div>
				<!-- end form -->
			</div>
		</div>
	</div>
	<!-- end last step -->

	<!-- begin landing-subscribe  -->
	<div class="landing-subs">
		{% include "partials/_subscribe-lg.html" %}
	</div>
	<!-- end landing-subscribe -->

</div>
<!-- end landing -->

{% include "partials/_footer.html" %}
{% endblock %}
