<!-- begin brands  -->
<div class="brands">
	<div class="brands__inner">
		<div class="brands__title title-h1">Бренды</div>
		<div class="brands__arrows">
			<div class="brands__arrows-in">
				<button class="brands__prev btn-prev js-brands-prev">
					<span class="btn-prev__visible">
						{{mixins.icon('prev')}}
					</span>
					<span class="btn-prev__hidden">
						{{mixins.icon('prev')}}
					</span>
				</button>
				<button class="brands__next btn-next js-brands-next">
					<span class="btn-next__visible">
						{{mixins.icon('next')}}
					</span>
					<span class="btn-next__hidden">
						{{mixins.icon('next')}}
					</span>
				</button>
			</div>
		</div>
		<div class="brands__row">
			<div class="brands__slider js-brands-slider">
				<div class="brand">
					<a href="#" class="brand__inner">
						<img src="img/woodtech.png" alt="">
					</a>
				</div>
				<div class="brand">
					<a href="#" class="brand__inner">
						<img src="img/mrdoors.png" alt="">
					</a>
				</div>
				<div class="brand">
					<a href="#" class="brand__inner">
						<img src="img/punkalive.png" alt="">
					</a>
				</div>
				<div class="brand">
					<a href="#" class="brand__inner">
						<img src="img/doremi.png" alt="">
					</a>
				</div>
				<div class="brand">
					<a href="#" class="brand__inner">
						<img src="img/latini.png" alt="">
					</a>
				</div>
				<div class="brand">
					<a href="#" class="brand__inner">
						<img src="img/woodwork.png" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end brands -->