<!-- begin description  -->
<div class="description page__section">
	<div class="inner">
		<div class="description__info">
			<h1 class="description__title">Кухни</h1>
			<p>Среди покупок, которые планируются с особой тщательностью, особое место занимает кухонная мебель. Купить гарнитур, который позволит чувствовать себя уверенно и уютно и одновременно сможет придать помещению стиль и лоск, непростая задача.</p>
			<h2 class="description__subtitle">Факторы правильного выбора</h2>
			<p>Вкусы и запросы у всех разные, но есть общие характеристики, позволяющие приобрести мебель для кухни недорого и с большой пользой.</p>
			<ul>
				<li>Ориентация на пространство. Кухня должна быть просторной и светлой, и если площадь помещения не позволяет разместить большой гарнитур и оставить достаточную рабочую зону, лучше остановить выбор на минимальном наборе  наиболее необходимых предметов максимально высокого качества.</li>
				<li>Решение стилевых задач. Правильное расположение и цвет позволят визуально изменять  помещение, зрительно расширяя его или наполняя светом. Все зависит от планировки, под которую подбирается кухонная мебель. Москва – это город самой разнообразной застройки и то, что будет идеальным вариантом для современного жилья, абсолютно не подойдет в домах исторической части города. Индивидуальный дизайн все расставит на свои места, и мебель будет смотреться органично.</li>
				<li>Перед покупкой обязательно следует проконсультироваться со специалистом. Это удобно сделать, обратившись в интернет-магазин Hoff: мебель для кухни и бытовую технику можно оценить в домашней обстановке, а окончательный выбор сделать, опираясь на совет консультанта</li>
			</ul>
		</div>
	</div>
</div>
<!-- end description -->