<!-- begin to-top  -->
{% if filters %}
<div class="to-top to-top_filters">
{% else %}
<div class="to-top">
{% endif %}
	<div class="to-top__inner">
		<button class="btn-filters js-filters-open">
			<span class="btn-filters__in">
				<span class="btn-filters__icon">
					<i class="btn-filters__lines"></i>
					<i class="btn-filters__circles"></i>
				</span>
			</span>
		</button>
		<button class="btn-up js-btn-up">
			{{mixins.icon('up')}}
		</button>
	</div>
</div>
<!-- end to-top -->
<!-- begin footer  -->
<footer class="footer">
	<div class="footer__inner">
		<div class="footer__row">
			<div class="footer__col-4 footer__list">
				<div class="title-h3 js-accordion-title">Полезная информация <i class="footer__plus"></i></div>
				<ul class="js-accordion-block">
					<li><a href="#">Как зарегистрироваться</a></li>
					<li><a href="#">Как сделать заказ</a></li>
					<li><a href="#">Оплата</a></li>
					<li><a href="#">Доставка</a></li>
					<li><a href="#">Самовывоз</a></li>
					<li><a href="#">Сборка</a></li>
					<li><a href="#">Обратная связь</a></li>
					<li><a href="#">Уход за изделиями</a></li>
				</ul>
			</div>
			<div class="footer__col-4 footer__list">
				<div class="title-h3 js-accordion-title">Для клиентов <i class="footer__plus"></i></div>
				<ul class="js-accordion-block">
					<li><a href="#">Политика конфиденциальности</a></li>
					<li><a href="#">Пользовательское соглашение</a></li>
					<li><a href="#">Условия продажи мебели</a></li>
					<li><a href="#">Гарантии</a></li>
					<li><a href="#">Обмен и возврат</a></li>
					<li><a href="#">Подарочные карты</a></li>
					<li><a href="#">Нашли дешевле? Снизим цену!</a></li>
					<li><a href="#">Услуги</a></li>
				</ul>
			</div>
			<div class="footer__col-4 footer__list">
				<div class="title-h3 js-accordion-title">Компания Lansart <i class="footer__plus"></i></div>
				<ul class="js-accordion-block">
					<li><a href="#">О компании</a></li>
					<li><a href="#">Контакты</a></li>
					<li><a href="#">Вакансии</a></li>
					<li><a href="#">Сотрудничество</a></li>
					<li><a href="#">Оптовикам</a></li>
					<li><a href="#">Производителям</a></li>
					<li><a href="#">Поставщикам</a></li>
				</ul>
			</div>
			<div class="footer__col-4 footer__list">
				<div class="title-h3 js-accordion-title">Продукция <i class="footer__plus"></i></div>
				<ul class="js-accordion-block">
					<li><a href="#">Столы</a></li>
					<li><a href="#">Стулья</a></li>
					<li><a href="#">Зеркала</a></li>
					<li><a href="#">Кровати</a></li>
					<li><a href="#">Диваны</a></li>
					<li><a href="#">Кресла</a></li>
					<li><a href="#">Тумбы</a></li>
					<li><a href="#">Комоды</a></li>
					<li><a href="#">Шкафы</a></li>
					<li><a href="#">Предметы интерьера</a></li>
				</ul>
			</div>
		</div>
		<div class="footer__row">
			<div class="footer__col-2 footer__social">
				<div class="title-h3">Мы в соцсетях</div>
				<ul class="social">
					<li><a href="#" target="_blank">{{mixins.icon('vk')}}</a></li>
					<li><a href="#" target="_blank">{{mixins.icon('fb')}}</a></li>
					<li><a href="#" target="_blank">{{mixins.icon('od')}}</a></li>
					<li><a href="#" target="_blank">{{mixins.icon('google')}}</a></li>
					<li><a href="#" target="_blank">{{mixins.icon('youtube')}}</a></li>
					<li><a href="#" target="_blank">{{mixins.icon('insta')}}</a></li>
				</ul>
			</div>
			<div class="footer__col-2 footer__contacts">
				<div class="title-h3">Контакты</div>
				<div class="footer__info">
					<ul>
						<li>Москва</li>
						<li>Уланский пер., 9</li>
					</ul>
					<ul class="footer__numbers">
						<li><a href="tel:88003212384">8 800 321-23-84</a></li>
						<li><a href="tel:+74999900091">+7 (499) 99-000-91</a></li>
					</ul>
					<ul>
						<li>10:00-20:00</li>
						<li>без выходных</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer__row footer__bottom">
			<div class="footer__col">
				<a href="#" class="footer__logo">Lansart</a>
			</div>
			<div class="footer__col footer__copy">
				<div class="footer__text">Copyright © Лансарт - онлайн-гипермаркет мебели, 2011-2016.</div>
				<div class="footer__text">Представленная на сайте информация не является публичной офертой.</div>
			</div>
		</div>
	</div>
</footer>
<!-- end footer -->