<!-- begin feedback  -->
<div class="feedback js-scroll-section" data-scroll="leave-review">
	<div class="feedback__title">Написать отзыв</div>
	<form action="/" class="form">
		<div class="form__heading">Ваш отзыв поможет кому-то сделать выбор. Спасибо, что делитесь опытом!</div>
		<div class="form__description">
			<p>Подробно расскажите о своём опыте использования товара. Обратите внимание на качество, удобство модели, её соответствие заявленным характеристикам.</p>
		</div>
		<div class="form__fields">
			<div class="form__field">
				<div class="form__label">
					<div class="label label_form">Оценка</div>
				</div>
				<div class="form__rating">
					<ul class="choice-rating js-rating">
						<li class="choice-rating__radio js-rating-item">
							<label>
								<input type="radio" name="evaluation"><span></span>
							</label>
						</li>
						<li class="choice-rating__radio js-rating-item">
							<label>
								<input type="radio" name="evaluation"><span></span>
							</label>
						</li>
						<li class="choice-rating__radio js-rating-item">
							<label>
								<input type="radio" name="evaluation"><span></span>
							</label>
						</li>
						<li class="choice-rating__radio js-rating-item">
							<label>
								<input type="radio" name="evaluation"><span></span>
							</label>
						</li>
						<li class="choice-rating__radio js-rating-item">
							<label>
								<input type="radio" name="evaluation"><span></span>
							</label>
						</li>
					</ul>
				</div>
			</div>
			<div class="form__field">
				<div class="form__label">
					<label for="form-positive" class="label label_form">Достоинства</label>
				</div>
				<div class="form__input">
					<input type="text" class="input" id="form-positive">
				</div>
			</div>
			<div class="form__field">
				<div class="form__label">
					<label for="form-negative" class="label label_form">Недостатки</label>
				</div>
				<div class="form__input">
					<input type="text" class="input" id="form-negative" placeholder="Что не оправдало ожиданий">
				</div>
			</div>
			<div class="form__field">
				<div class="form__label">
					<label for="form-message" class="label label_form">Комментарий</label>
				</div>
				<div class="form__input">
					<textarea id="form-message" rows="4" class="textarea" placeholder="Что не оправдало ожиданий"></textarea>
				</div>
			</div>
			<div class="form__field">
				<div class="form__label">
					<div class="label label_form">Опыт использования</div>
				</div>
				<div class="form__time">
					<ul class="form__list">
						<li>
							<label class="radio">
								<input type="radio" name="time" checked>
								<span>Менее месяца</span>
							</label>
						</li>
						<li>
							<label class="radio">
								<input type="radio" name="time">
								<span>Несколько месяцев</span>
							</label>
						</li>
						<li>
							<label class="radio">
								<input type="radio" name="time">
								<span>Более года</span>
							</label>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="form__bottom">
			<div class="form__delivery">
				<label class="checkbox"><input type="checkbox"><span>Я хочу получать новости о скидках</span></label>
			</div>
			<button class="btn btn_gray"><span>Оставить отзыв</span></button>
		</div>
	</form>
</div>
<!-- end feedback -->