<!-- begin header  -->
<header class="header js-menu {{headerMod}}" style="background-image: url({{headerBG}});">
	<div class="top-line top-line_landing">
		<div class="top-line__inner">
			<div class="top-line__left">
				<a href="#" class="top-line__link">На главную</a>
			</div>
			<div class="top-line__right">
				<a href="tel:+74999900091" class="top-line__link">+7 (499) 99-000-91</a>
			</div>
		</div>
	</div>
	<div class="header__main">
		<div class="header__logo">
			<a href="#" class="logo">
				<div class="logo__title">Lansart</div>
				<div class="header__text">Онлайн-гипермаркет мебели</div>
			</a>
		</div>
		<div class="main-title">Поставщикам<span>и</span>производителям</div>
	</div>
</header>
<!-- end header -->

<!-- begin mobile-header  -->
<div class="mob-header js-mob-header js-fixed">
	<div class="mob-header__inner">
		<a href="#" class="mob-header__item">На главную</a>
		<a href="tel:+74999900091" class="mob-header__phone is-right">+7 (499) 99-000-91</a>
	</div>
</div>
<!-- end mobile-header -->