<!-- begin main-map  -->
<div class="main-map" style="background-image: url(img/main-map.jpg);">
	<div class="main-map__inner">
		<div class="main-map__info">
			<h1 class="white-logo">Lansart</h1>
			<p>Мебельный магазин Lansart является эксклюзивным поставщиком таких фирм как Alpina - Россия, Brunello - Италия, Carda Decor - Китай.</p>
			<p>И еще пару мощных фраз про наш крутой магазин</p>
			<div class="main-map__btn">
				<a href="#" class="btn btn_white">
					<span>О компании</span>
				</a>
			</div>
		</div>
		<div class="main-map__right">
			<div class="sm-map">
				<div class="sm-map__header">
					<i class="sm-map__marker"></i>
					<i class="sm-map__phone"></i>
					<ul class="sm-info">
						<li>
							<div>Москва</div>
							<div>Уланский пер., 9</div>
						</li>
						<li>
							<a href="tel:88003212384">8 800 321-23-84</a>
							<a href="tel:+74999900091">+7 (499) 99-000-91</a>
						</li>
					</ul>
				</div>
				<div class="sm-map__body">
					<div class="sm-map__img" style="background-image: url(img/map.png);" data-toggle="modal" data-target="#map"></div>
				</div>
			</div>
		</div>
		<div class="main-map__left">
			<a href="#" class="btn btn_white">
				<span>О компании</span>
			</a>
			<ul class="sm-pages">
				<li>
					<div class="sm-pages__title">Блог</div>
					<a href="#" class="sm-pages__text">Все статьи</a>
				</li>
				<li>
					<div class="sm-pages__title">Новости</div>
					<a href="#" class="sm-pages__text">Все новости</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- end main-map -->