{% include "partials/modals/_login.html" %}
{% include "partials//modals/_notification-subs.html" %}
{% include "partials/modals/_basket.html" %}
{% include "partials/modals/_change-city.html" %}
{% include "partials/modals/_popup-map.html" %}
{% include "partials/modals/_popup-buy.html" %}
{% include "partials/modals/_guarantee.html" %}
{% include "partials/modals/_delivery.html" %}
{% include "partials/modals/_production.html" %}
{% include "partials/modals/_credit.html" %}
{% include "partials/modals/_card-discount.html" %}
{% include "partials/modals/_favorite-thx.html" %}
{% include "partials/modals/_fast-buy-thx.html" %}
{% include "partials/modals/_subscribe-thx.html" %}