<!-- begin similar  -->
<div class="similar unit js-unit page__section">
	<div class="inner">
		<div class="unit__top">
			<div class="similar__title title-h1">Похожие товары</div>
			<div class="similar__arrows">
				<div class="similar__arrows-in">
					<button class="unit__prev btn-prev js-unit-prev">
						<span class="btn-prev__visible">
							{{mixins.icon('prev')}}
						</span>
						<span class="btn-prev__hidden">
							{{mixins.icon('prev')}}
						</span>
					</button>
					<button class="unit__next btn-next js-unit-next">
						<span class="btn-next__visible">
							{{mixins.icon('next')}}
						</span>
						<span class="btn-next__hidden">
							{{mixins.icon('next')}}
						</span>
					</button>
				</div>
			</div>
		</div>
		<div class="unit__slider js-unit-slider">
			<div class="unit__col">
				{{mixins.item({
					tablet: true,
					priceSmall: false
				})}}
			</div>
			<div class="unit__col">
				{{mixins.item({
					tablet: true,
					priceSmall: false
				})}}
			</div>
			<div class="unit__col">
				{{mixins.item({
					tablet: true,
					priceSmall: false
				})}}
			</div>
			<div class="unit__col">
				{{mixins.item({
					tablet: true,
					priceSmall: false
				})}}
			</div>
			<div class="unit__col">
				{{mixins.item({
					tablet: true,
					priceSmall: false
				})}}
			</div>
			<div class="unit__col">
				{{mixins.item({
					tablet: true,
					priceSmall: false
				})}}
			</div>
		</div>
	</div>
</div>
<!-- end similar -->