<!-- begin subs  -->
<div class="subs">
	<div class="inner">
		<div class="subs__text">
			<div class="subs__title">Подписка</div>
			<div class="subs__label">Подпишитесь! Скидки, акции и выгодные предложения!</div>
		</div>
		<form action="/" class="subscribe-form">
			<div class="subscribe-form__field">
				<input type="email" class="input input_full" placeholder="Ваш email">
				<div class="subscribe-form__btn">
					<button class="btn btn_blue"><span>Подписаться</span></button>
					<button class="btn-sm"><span>{{mixins.icon('next')}}</span></button>
				</div>
			</div>
		</form>
	</div>
</div>
<!-- end subs -->