<!-- begin tags  -->
<div class="tags">
	<p>
		<a href="#" class="tag"><span>круглые деревянные столы</span></a>
		<a href="#" class="tag"><span>овальные деревянные столы</span></a>
		<a href="#" class="tag"><span>прямоугольные деревянные столы</span></a>
		<a href="#" class="tag"><span>квадратные деревянные столы</span></a>
		<a href="#" class="tag"><span>большие деревянные столы</span></a>
		<a href="#" class="tag"><span>маленькие деревянные столы</span></a>
		<a href="#" class="tag"><span>длинные деревянные столы</span></a>
		<a href="#" class="tag"><span>деревянные круглые столы</span></a>
		<span class="tags__end">...</span>
	</p>
	<div class="tags__more">
		<a href="#" class="link-more link-more_gray">
			<span>Все тэги</span>
			<div class="link-more__visible">
				{{mixins.icon('next')}}
			</div>
			<div class="link-more__hidden">
				{{mixins.icon('next')}}
			</div>
		</a>
	</div>
</div>
<!-- end tags -->