<!-- Modal Basket -->
<div id="basket" class="modal fade" tabindex="-1">
	<div class="modal-dialog modal-dialog_md modal-dialog_left">
		<div class="modal__basket">
			<button type="button" class="modal__close" data-dismiss="modal">
				{{mixins.icon('close')}}
			</button>
			<div class="modal__block">
				<div class="modal__head">
					<div class="modal__title title">Корзина</div>
					<p>Всего в вашей корзине 3 товара. <a href="#">Посмотерть</a></p>
				</div>
				<div class="basket">
					<div class="basket__top">
						<div class="basket__top-in">
							<div class="basket__col basket__quantity">Количество</div>
							<div class="basket__col basket__price">Цена</div>
						</div>
					</div>
					<div class="basket__items">
						<div class="basket__items-in">
							<div class="basket-item">
								<div class="basket-item__info">
									<div class="basket-item__img" style="background-image: url(img/item.png);"></div>
									<div class="basket-item__text">
										<div class="basket-item__category">Барный стул</div>
										<div class="basket-item__title">Стул Space Chair</div>
										<p>Товар упакован по 2 шт., и будет доставлен кратно упаковке</p>
									</div>
								</div>
								<div class="basket-item__field">
									<input type="text" class="input js-spinner" data-min="0" data-max="10">
								</div>
								<div class="basket-item__price">
									<strong>84 960 Р</strong>
									<p>21 240 руб. x 4 шт.</p>
									<button class="basket-item__reload js-tooltip" title="Подсказка №1">
										<span>{{mixins.icon('reload')}}</span>
									</button>
									<button class="basket-item__close js-tooltip" title="Подсказка №2">
										<span>{{mixins.icon('close')}}</span>
									</button>
								</div>
							</div>
							<div class="basket-item">
								<div class="basket-item__info">
									<div class="basket-item__img" style="background-image: url(img/item.png);"></div>
									<div class="basket-item__text">
										<div class="basket-item__category">Барный стул</div>
										<div class="basket-item__title">Стул Space Chair</div>
										<p>Товар упакован по 2 шт., и будет доставлен кратно упаковке</p>
									</div>
								</div>
								<div class="basket-item__field">
									<input type="text" class="input js-spinner" data-min="0" data-max="10">
								</div>
								<div class="basket-item__price">
									<strong>84 960 Р</strong>
									<p>21 240 руб. x 4 шт.</p>
									<button class="basket-item__reload js-tooltip" title="Подсказка №1">
										<span>{{mixins.icon('reload')}}</span>
									</button>
									<button class="basket-item__close js-tooltip" title="Подсказка №2">
										<span>{{mixins.icon('close')}}</span>
									</button>
								</div>
							</div>
							<div class="basket-item">
								<div class="basket-item__info">
									<div class="basket-item__img" style="background-image: url(img/item.png);"></div>
									<div class="basket-item__text">
										<div class="basket-item__category">Барный стул</div>
										<div class="basket-item__title">Стул Space Chair</div>
										<p>Товар упакован по 2 шт., и будет доставлен кратно упаковке</p>
									</div>
								</div>
								<div class="basket-item__field">
									<input type="text" class="input js-spinner" data-min="0" data-max="10">
								</div>
								<div class="basket-item__price">
									<strong>84 960 Р</strong>
									<p>21 240 руб. x 4 шт.</p>
									<button class="basket-item__reload js-tooltip" title="Подсказка №1">
										<span>{{mixins.icon('reload')}}</span>
									</button>
									<button class="basket-item__close js-tooltip" title="Подсказка №2">
										<span>{{mixins.icon('close')}}</span>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="basket__bottom">
						<div class="basket__top-in">
							<div class="basket__col basket__result">Стоимость товаров:</div>
							<div class="basket__col basket__price"><strong>177 471 Р</strong></div>
						</div>
					</div>
					<div class="basket__btns">
						<a href="#" class="btn btn_gray btn_big"><span>Продолжить покупки</span></a>
						<a href="#" class="btn btn_blue btn_big"><span>Оформить заказ</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>