<!-- Modal discount -->
<div id="discount" class="modal fade" tabindex="-1">
	<div class="modal-dialog modal-dialog_sm modal-dialog_center">
		<div class="modal__in is-finished">
			<button type="button" class="modal__close" data-dismiss="modal">
				{{mixins.icon('close')}}
			</button>
			<div class="discount">
				<div class="discount__icon">
					{{mixins.icon('sale')}}
				</div>
				<div class="discount__title">Сообщить о скидке</div>
				<p>Укажите свою почту и мы вас обязательно оповестим о появлении скидки на товар</p>
				<form action="/">
					<div class="discount__field">
						<input type="text" class="input" placeholder="Email">
					</div>
					<div class="discount__btn">
						<button class="btn btn_blue" disabled>
							<span>Подписаться</span>
						</button>
					</div>
				</form>
			</div>
			<div class="discount-thx">
				<div class="discount-thx__inner">
					<div class="discount-thx__icon">
						{{mixins.icon('check')}}
					</div>
					<div class="discount-thx__title">Спасибо, подписка оформлена</div>
				</div>
			</div>
		</div>
	</div>
</div>