<!-- Modal delivery -->
<div id="delivery" class="modal fade" tabindex="-1">
	<div class="modal-dialog modal-dialog_sm modal-dialog_center">
		<div class="modal__in">
			<button type="button" class="modal__close" data-dismiss="modal">
				{{mixins.icon('close')}}
			</button>
			<div class="step-modal">
				<div class="step-modal__icon">
					{{mixins.icon('delivery-empty')}}
				</div>
				<div class="step-modal__title">Быстрая доставка</div>
				<p>Чтобы наши цены были честными, мы каждый день сравниваем их с ценами 12 других продавцов*. Если вы найдете цену ниже, мы дадим вам скидку в размере этой разницы.</p>
				<div class="step-modal__btn">
					<a href="#" class="btn btn_blue">
						<span>Подробнее</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>