<!-- Modal Subscribe Notification -->
<div id="subscribe-notification" class="modal fade" tabindex="-1">
	<div class="modal-dialog modal-dialog_notification modal-dialog_center">
		<div class="modal__in">
			<button type="button" class="modal__close" data-dismiss="modal">
				{{mixins.icon('close')}}
			</button>
			<div class="notification">
				<div class="notification__title">Подписка оформленна</div>
				<p>Поздравлям, теперь вы будете в курсе всех свежих новостей.</p>
				<div class="notification__btn">
					<a href="#" class="btn btn_blue">
						<span>Вернуться</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>