<!-- Modal map -->
<div id="map" class="modal fade" tabindex="-1">
	<div class="modal-dialog modal-dialog_md modal-dialog_center">
		<div class="modal__in modal__in-map">
			<button type="button" class="modal__close" data-dismiss="modal">
				{{mixins.icon('close')}}
			</button>
			<div class="modal__map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6042.489935410792!2d30.521729665727978!3d50.44940642187611!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf4ee15a4505%3A0x764931d2170146fe!2z0JrQuNC10LIsIDAyMDAw!5e0!3m2!1sru!2sua!4v1469694943319" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>