<!-- Modal subscribe-thx -->
<div id="subscribe-thx" class="modal fade js-modal-autoclose" tabindex="-1">
	<div class="modal-dialog modal-dialog_sm modal-dialog_center">
		<div class="modal__in">
			<button type="button" class="modal__close" data-dismiss="modal">
				{{mixins.icon('close')}}
			</button>
			<div class="thx">
				<div class="thx__inner">
					<div class="thx__icon">
						{{mixins.icon('check')}}
					</div>
					<div class="thx__title">Спасибо, подписка оформлена</div>
				</div>
			</div>
		</div>
	</div>
</div>