<div class="prod-settings__box">
	<div class="prod-settings__subtitle">Доставка</div>
	<ul class="prod-settings__list">
		<li class="prod-settings__row">
			<div class="prod-settings__label">Ожидаемая дата доставки:</div>
			<div class="prod-settings__text">27 июня</div>
		</li>
		<li class="prod-settings__row">
			<div class="prod-settings__label">Стоимость доставки:</div>
			<div class="prod-settings__text">490 Р</div>
		</li>
		<li class="prod-settings__row">
			<div class="prod-settings__label">Стоимость доставки:</div>
			<div class="prod-settings__text"><span>490 Р</span> Бесплатно</div>
		</li>
	</ul>
</div>