<div class="prod-settings__box">
	<div class="prod-settings__subtitle">Наличие</div>
	<div class="prod-settings__instock prod-settings__row">
		<div class="icon-battery">
			<i class="is-active"></i>
			<i class="is-active"></i>
			<i class="is-active"></i>
			<i class="is-active"></i>
			<i></i>
			<i></i>
		</div>
		<div class="prod-settings__text">Есть в наличии</div>
	</div>
	<div class="prod-settings__text prod-settings__row">
		<a href="#" class="prod-settings__link">Сообщить о скидке</a>
	</div>
</div>