<!-- begin done 2.0 -->
<div class="tabs__content js-tab-content" data-tab="tab4">
	<div class="new-done">
		<div class="new-done__header">
			<h4 class="title-h4 title-h4_blue">Заказ успешно оформлен</h4>
		</div>
		<div class="new-done__body">
			<p>Ваш заказ принят и поступил в обработку.</p>
			<p>Вот вам номер для обращения в поддержку: <strong>77895</strong></p>
		</div>
		<div class="new-done__footer">
			<div class="new-done__col">
				<button class="btn btn_gray"><span>Распечатать заказ</span></button>
			</div>
			<div class="new-done__col">
				<button class="btn btn_blue"><span>Продолжить покупки</span></button>
			</div>
		</div>
	</div>
</div>
<!-- end done 2.0 -->