.icon-arr-back {
  width: 1.15em;
  height: 1em;
  fill: #427BE7;
}
.icon-bank {
  width: 1.13em;
  height: 1em;
  fill: #427BE7;
}
.icon-basket {
  width: 0.76em;
  height: 1em;
  fill: initial;
}
.icon-check {
  width: 1.42em;
  height: 1em;
  fill: #FFF;
}
.icon-click {
  width: 0.74em;
  height: 1em;
  fill: #427BE7;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: #427BE7;
}
.icon-comment-full {
  width: 1.09em;
  height: 1em;
  fill: #427BE7;
}
.icon-comment {
  width: 1.09em;
  height: 1em;
  fill: #427BE7;
}
.icon-datepicker {
  width: 0.98em;
  height: 1em;
  fill: #427BE7;
}
.icon-delete {
  width: 0.95em;
  height: 1em;
  fill: #427BE7;
}
.icon-delivery-empty {
  width: 1.4em;
  height: 1em;
  fill: #427BE7;
}
.icon-delivery {
  width: 1.66em;
  height: 1em;
  fill: #FFF;
}
.icon-design {
  width: 1em;
  height: 1em;
  fill: #427BE7;
}
.icon-dislike-full {
  width: 1.1em;
  height: 1em;
  fill: #427BE7;
}
.icon-down {
  width: 1.71em;
  height: 1em;
  fill: #427BE7;
}
.icon-edit {
  width: 1em;
  height: 1em;
  fill: #427BE7;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-fb {
  width: 0.44em;
  height: 1em;
  fill: #427BE7;
}
.icon-google {
  width: 1.61em;
  height: 1em;
  fill: #427BE7;
}
.icon-heart-full {
  width: 1.1em;
  height: 1em;
  fill: #427BE7;
}
.icon-heart {
  width: 1.1em;
  height: 1em;
  fill: initial;
}
.icon-insta {
  width: 1em;
  height: 1em;
  fill: #427BE7;
}
.icon-kitchen {
  width: 1em;
  height: 1em;
  fill: #427BE7;
}
.icon-left {
  width: 0.58em;
  height: 1em;
  fill: #427BE7;
}
.icon-like-empty {
  width: 1.09em;
  height: 1em;
  fill: #FFF;
}
.icon-like-full {
  width: 1.09em;
  height: 1em;
  fill: initial;
}
.icon-like {
  width: 0.89em;
  height: 1em;
  fill: #427BE7;
}
.icon-login {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-medal {
  width: 0.81em;
  height: 1em;
  fill: #427BE7;
}
.icon-next {
  width: 1.59em;
  height: 1em;
  fill: #427BE7;
}
.icon-od {
  width: 0.58em;
  height: 1em;
  fill: #427BE7;
}
.icon-pen {
  width: 0.51em;
  height: 1em;
  fill: #427BE7;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-prev {
  width: 1.59em;
  height: 1em;
  fill: #427BE7;
}
.icon-reload {
  width: 0.75em;
  height: 1em;
  fill: #427BE7;
}
.icon-right {
  width: 0.58em;
  height: 1em;
  fill: #427BE7;
}
.icon-sale {
  width: 1em;
  height: 1em;
  fill: #427BE7;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-settings {
  width: 1em;
  height: 1em;
  fill: #427BE7;
}
.icon-star {
  width: 1.05em;
  height: 1em;
  fill: #427BE7;
}
.icon-tools {
  width: 1.09em;
  height: 1em;
  fill: #427BE7;
}
.icon-tw {
  width: 1.21em;
  height: 1em;
  fill: #FFF;
}
.icon-up {
  width: 1.71em;
  height: 1em;
  fill: #427BE7;
}
.icon-user {
  width: 0.84em;
  height: 1em;
  fill: initial;
}
.icon-view {
  width: 1.6em;
  height: 1em;
  fill: #D9DBE1;
}
.icon-vk {
  width: 1.65em;
  height: 1em;
  fill: #427BE7;
}
.icon-youtube {
  width: 1.42em;
  height: 1em;
  fill: #427BE7;
}
