<!-- begin card tab1  -->
<div class="tabs__content js-tab-content" data-tab="tab1">
	<div class="modifications js-view-color">
		<div class="modifications__title">Выбор модификации</div>
		{% set modifications = {
			headers: [ 'Столешница', 'Каркас', 'Ножки', 'Подстолье' ],
			items: [
				{
					title: 'Бамбук',
					img: 'frame-1'
				},
				{
					title: 'Мрамор',
					img: 'frame-2'
				},
				{
					title: 'Камень',
					img: 'frame-3'
				},
				{
					title: 'Что-то еще',
					img: 'frame-4'
				}
			]
		} %}
		<div class="modifications__items js-scrollbar-x">
			<div class="modifications__headers">
				{% for item in modifications.headers %}
					<div class="modifications__header">{{item | safe}}</div>
				{% endfor %}
			</div>
			<div class="modifications__body">
				<div class="modifications__list">
					{% for modification in range(0,3) %}
						{% set index = loop.index %}
						<label class="modification">
							<span class="modification__radio">
								<input type="radio" name="modification" {% if loop.first %}checked{% endif %}>
								<i></i>
							</span>
							<span class="modification__items">
								{% for item in modifications.items %}
									<span class="modification__item js-view-color-item">
										<span class="modification__img">
											<span class="modification__img-in js-view-color-img" style="background-image: url(img/colors/{{item.img}}.jpg);" data-img="img/colors/{{item.img}}.jpg"></span>
										</span>
										<span class="modification__title js-view-color-title">{{item.title}}</span>
										<span class="modification__description js-view-color-description">{{index + '.' + loop.index}} стекло опаловое (молочно-голубое) матированное закалённое</span>
									</span>
								{% endfor %}
							</span>
							<span class="modification__price">
								<span class="modification__price-in">
									<span class="modification__price-main">16 280 P</span>
									{% if loop.first %}
										<span class="modification__price-old">16 280 P</span>
									{% endif %}
								</span>
							</span>
						</label>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="modifications-modal  js-view-color-modal">
			<button class="modifications-modal__close js-view-color-modal-close">
				{{mixins.icon('close')}}
			</button>
			<div class="modifications-modal__img js-view-color-modal-img"></div>
			<div class="modifications-modal__in">
				<div class="modifications-modal__title js-view-color-modal-title"></div>
				<div class="modifications-modal__description js-view-color-modal-description"></div>
			</div>
		</div>
		<div class="modifications__btns">
			<div class="modifications__btns-in">
				<button class="btn btn_blue" data-toggle="modal" data-target="#basket"><span>В корзину {{mixins.icon('basket')}}</span></button>
				<button class="btn-plus js-popup-open" data-popup="add-functions">
					<span></span>
				</button>
				<a href="#" class="in-moment" data-toggle="modal" data-target="#fast-buy">
					{{mixins.icon('click')}}
					<span>Купить в 1 клик</span>
				</a>
				{% include "partials/components/_additional-functions.html" %}
			</div>
		</div>
	</div>
	<div class="c-features">
		<div class="c-features__title">Характеристики товара</div>
		{% set features = [
			{
				title: 'Общие',
				list: [
					{
						label: 'Тип',
						text: 'стул со спинкой'
					},
					{
						label: 'Тип обивочного материала',
						text: 'ткань'
					},
					{
						label: 'Место использования',
						text: 'кухня, гостиная'
					}
				]
			},
			{
				title: 'Каркас',
				list: [
					{
						label: 'Материал каркаса',
						text: 'массив бука'
					},
					{
						label: 'Цвет каркаса',
						text: 'тон дерева 17 (бежевый)'
					}
				]
			},
			{
				title: 'Спинка',
				list: [
					{
						label: 'Мягкая спинка',
						text: 'нет'
					},
					{
						label: 'Цвет спинки',
						text: 'тон дерева 17'
					}
				]
			},
			{
				title: 'Сиденье',
				list: [
					{
						label: 'Материал сиденья',
						text: 'ткань'
					},
					{
						label: 'Мягкое сиденье',
						text: 'да'
					}
				]
			},
			{
				title: 'Размеры и вес',
				list: [
					{
						label: 'Ширина',
						text: '42 см'
					},
					{
						label: 'Размеры упаковки',
						text: '100 х 45 х 41 см'
					},
					{
						label: 'Глубина',
						text: '43 см'
					},
					{
						label: 'Высота',
						text: '100 см'
					},
					{
						label: 'Вес упаковки',
						text: '10 кг'
					}
				]
			},
			{
				title: 'Комплектация',
				list: [
					{
						label: 'Количество упаковок',
						text: '1'
					}
				]
			},
			{
				title: 'Гарантия',
				list: [
					{
						label: 'Гарантия',
						text: '1 год'
					},
					{
						label: 'Страна-производитель',
						text: 'Россия'
					}
				]
			}
		] %}
		<div class="c-features__col c-infos">
			{% for item in features %}
			    <div class="c-info js-acc-section">
			    	<div class="c-info__title js-acc-title">{{item.title}} <i class="c-info__plus"></i></div>
			    	<ul class="c-info__list js-acc-list">
			    		{% for li in item.list %}
		    		    <li class="c-info__item">
		    		    	<div class="c-info__label">
		    		    		<span>{{li.label}}</span>
		    		    	</div>
		    		    	<div class="c-info__text">{{li.text}}</div>
		    		    </li>
			    		{% endfor %}
			    	</ul>
			    </div>
			{% endfor %}
		</div>
		{# <div class="c-features__col">
			<div class="c-description">
				<div class="c-description__icon">
					{{mixins.icon('settings')}}
				</div>
				<div class="c-description__text">
					<p>Технические характеристики товара могут отличаться.</p>
					<p>Уточняйте информацию при оформлении заказа у оператора контакт-центра или на кассе магазина перед оплатой заказа.</p>
				</div>
			</div>
		</div> #}
	</div>
</div>
<!-- end card tab1 -->