<!-- begin card tab2  -->
<div class="tabs__content js-tab-content" data-tab="tab2">
	<div class="m-description">
		<div class="m-description__title">Описание</div>
		<div class="m-description__subheader">Барный стул Walnut Veneer</div>
		<p>Утонченные геометрические линии барного стула Mango украсят помещение, оформленное в современном или одном из популярных стилей 20 века. Рисунок стеганой обивки повторяет контуры сиденья, подлокотников и подножки. Блестящее хромированное основание, изготовленное из стали, делает конструкцию устойчивой и надежной. Регулировка высоты позволит подстроить стул под особенности барной стойки или рост сидящего. Обивка сиденья выполнена из черной эко-кожи, которую очень просто содержать в чистоте.</p>
	</div>
</div>
<!-- end card tab2 -->